# Node
node_modules/

# Angular build
dist/
.out-tsc/
.angular/

# Environment
.env

# IDE
.vscode/
.idea/

# Logs
npm-debug.log*

# TypeScript
*.tsbuildinfo

# Misc
coverage/

# Lockfile
package-lock.json
